# Lakebridge-Dremio Requirements

# Core Dependencies
databricks-sdk==0.51.0
databricks-bb-analyzer==0.1.9
sqlglot==27.14.0
databricks-labs-blueprint==0.11.4
databricks-labs-lsql==0.16.0
cryptography==41.0.5
pyodbc==5.2.0
SQLAlchemy==2.0.40
pygls==2.0.0a2
duckdb==1.2.2

# Data processing
pandas==2.3.1
openpyxl==3.1.0